# Turso / LibSQL Database Configuration
VITE_TURSO_DATABASE_URL=libsql://seu-banco.turso.io
VITE_TURSO_AUTH_TOKEN=seu-token-aqui

# App Configuration
VITE_VALOR_POR_HORA=15
VITE_VAPID_PUBLIC_KEY=BP-YpH_3KfZXI9tD8Yf1Uu-dDg65vjjpmJ4iZVpyknVD5KazjauLGWYUBvkUgowPRdxrfz_Y66Qei6bxHIydzRU
PORT=3333
