DATABASE_URL=
DEFAULT_TIMEZONE=America/Sao_Paulo
PRIVATE_VAPID_KEY=JotIV_gYiOj3Z_Uu-A_8QsPMEWSQtvQiX7hJZoMgtX4
PUBLIC_VAPID_KEY=BEqlo7n8xIjBHgcWt9NjCvtcjvwSy9QMjkcXVd-cQHTWCVVbWVDnLLcuPhpUnykReWrLirJNCm9ai0EQLKsDPIA
